
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.projects li, .servicios li {
    padding: 10px;
}

nav a {
    font-size: medium;
    font-weight: 700;
}

body, nav a {
    color: #4b5d7a;
}

.git {
    color: #f35205;
}
.python {
    color: #bfd956;
}
.js {
    color: #efcb18;
}

.bold {
    font-weight: 800;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-description p {
    font-size: 12pt;
}

.links a {
    font-size: 18pt;
}

.list-cursos {
    list-style: none;
}

.list-cursos .img {
    font-size: 70pt;
}

.item-curso {
    border-radius: 10px;
    background-color: #e2e8f0;
}

.box-skill img {
    max-width: 100px;
}
